* {
  margin: 0;
  padding: 0;
}
.inter-sans-serif {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-sans-serif {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.primary-btn {
  font-family: 'Inter', sans-serif;
  padding: 12px 36px;
  background-color: #4e47ff;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.primary-btn:hover {
  color: black;
  background-color: yellow;
}

body {
  max-width: 1440px;
  background: #ecedf1;
}

/* header styles */
.header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}
.nav-title {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}

/* banner styles */
.banner {
  max-width: 905px;
  margin: 90px auto;
  text-align: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 30px;
}
.banner .primary-btn {
  margin-bottom: 100px;
}

/* start action section */
.action {
  display: flex;
  max-width: 1140px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 100px;
  margin-bottom: 80px;
}
.left-action {
  width: 500px;
  height: 200px;
}
.left-action h2 {
  font-size: 40px;
  font-weight: bold;
}
.left-action h4 {
  font-size: 22px;
  color: #979797;
  margin: 20px 0 25px 0;
  display: block;
  text-align: left;
}
.right-action img {
  width: 380px;
  height: 305px;
  border-radius: 50px;
}
.action .primary-btn {
  display: inline-block;
}

/* start productive user section */
.pro-user {
  background-color: #CFD0E4;
  max-width: 1140px;
  height: 300px;
  margin: 0 100px;
  text-align: center;
  padding: 0 100px;
  border-radius: 50px;
  margin-bottom: 80px;
}
.pro-user h2 {
  font-size: 35px;
  font-weight: bold;
  padding: 50px;
}
.pro-user-details {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pro-user-details span {
  font-size: 60px;
  font-weight: bold;
  color: #4e47ff;
}
.pro-user-details p {
  font-size: 14px;
  color: #726f6f;
}

/* start user feedback section */
.user-feedback {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 100px;
  margin-bottom: 80px;
}
.user-feedback .feedback-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards {
  background-color: #fff;
  padding: 20px 55px 20px 20px;
  margin: 10px;
  border-radius: 12px;
  border: 1px solid #f2eded;
}
.cards .stars {
  width: 100%;
  margin-bottom: 15px;
}
.cards h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.cards h6 {
  font-size: 14px;
  color: #3c3c3c;
  margin-bottom: 20px;
}
.reviewer-container {
  display: flex;
}
.reviewer-container img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.reviewer p {
  font-size: 11px;
  font-weight: bold;
  color: #757575;
  margin-bottom: 10px;
}
.reviewer span {
  font-size: 12px;
  color: #b3b3b3;
}

/* start ready to focus section */
.ready-to-focus {
  max-width: 1140px;
  margin: 0 100px;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background-color: #fff;
  margin-bottom: 80px;
  border-radius: 15px;
  text-align: center;
}
.ready-to-focus h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.ready-to-focus p {
  font-size: 16px;
  color: #585858;
  margin-bottom: 20px;
}
.ready-to-focus .primary-btn {
  display: inline-block;
  margin-bottom: 25px;
}
.ready-to-focus img {
  width: 800px;
  height: 300px;
  border-radius: 50px;
}

/* start get in touch section */
.in-touch {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
  padding: 0 45px;
  margin-bottom: 70px;
}
.in-touch-left {
  width: 65%;
}
.in-touch-left h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-align: left;
}

.in-touch-right {
  width: 35%;
  margin: 20px auto;
  text-align: left;
}
.parent-form {
  width: 100%;
}
.child-form {
  margin-bottom: 15px;
  font-family: 'Inter', sans-serif;
}
.child-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
.child-form input,
.child-form textarea {
  width: 100%;
  padding: 12px 25px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
}
.child-form textarea {
  font-family: 'Inter', sans-serif;
  height: 75px;
}
.child-form .primary-btn {
  width: 115%;     /*   ? width 100% not working, I don't know why */
}

/* start footer section */

.footer {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 0 80px;
  background: #fff;
}

.footer-title h1 {
  font-family: 'Inter', sans-serif;
  font-size: 80px;
  font-weight: 900;
  color: #4e47ff;
}
.footer-title p {
  color: #8987a1;
  margin: 15px 0 20px;
}

.footer-menu ul {
  list-style: none;
}
.footer-menu li {
  display: inline;
  padding: 25px;
}
.footer-menu a {
  text-decoration: none;
  color: #8987a1;
  transition: color 0.5s ease;
}
.footer-menu a:hover {
  color: #5a54fa;
  font-weight: bold;
}
