* {
  margin: 0;
  padding: 0;
}
.inter-sans-serif {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-sans-serif {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.primary-btn {
  font-family: 'Inter', sans-serif;
  padding: 12px 36px;
  background-color: #4e47ff;
  color: #fff;
  border-radius: 10px;
  border: none;
}
body {
  max-width: 1440px;
}

/* header styles */
.header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  max-width: 1140px;
  margin: 0 auto;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}
.nav-title {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
  color: #4e47ff;
}

/* banner styles */
.banner {
  max-width: 905px;
  margin: 90px auto;
  text-align: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 30px;
}
.banner .primary-btn {
  margin-bottom: 100px;
}

/* start action section */
.action {
  display: flex;
  max-width: 1140px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 100px;
  margin-bottom: 70px;
}
.left-action {
  width: 500px;
  height: 200px;
}
.left-action h2 {
  font-size: 38px;
  font-weight: bold;
}
.left-action h4 {
  font-size: 20px;
  color: #979797;
  margin: 20px 0 25px 0;
  display: block;
  text-align: left;
}
.right-action img {
  width: 380px;
  height: 305px;
  border-radius: 50px;
}
.action .primary-btn {
  display: inline-block;
}

/* start productive user section */
.pro-user {
  background-color: #dcdbf7;
  max-width: 1140px;
  height: 290px;
  margin: 0 100px;
  text-align: center;
  padding: 0 100px;
  border-radius: 50px;
  margin-bottom: 70px;
}
.pro-user h2 {
  font-size: 35px;
  font-weight: bold;
  padding: 50px;
}
.pro-user-details {
  font-family: 'Inter', sans-serif;
  display: flex;
  /* margin: 0 auto; */
  align-items: center;
  justify-content: space-between;
}
.pro-user-details span {
  font-size: 60px;
  font-weight: bold;
  color: #4E47FF;
}
.pro-user-details p{
  font-size: 14px;
  color: #726f6f;
}